@tailwind base;
@tailwind components;
@tailwind utilities;

.frame{
    
        display: block !important; 
        width: 100% !important; 
        border: none !important; 
        overflow-y: auto !important; 
        overflow-x: hidden !important;
       
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scroll-container::-webkit-scrollbar {
        display: none;
      }
      
      /* Hide scrollbar for IE, Edge, and Firefox */
      .scroll-container {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      
      /* Hide scrollbar for other browsers */
      .scroll-container {
        overflow: -moz-scrollbars-none;
      }
      